@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

.container {
    padding: 2rem;
}


/*Top Navigation*/
.topnav {
    background-color: white;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    justify-content: space-between;
}

.topnav a {
    float: right;
    display: flex;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    align-items: center;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.topnav a .logo:hover {
    color: white;
}

.topnav a:hover {
    color: gold;
    background-position: left;
}

.topnav .links {
    display: block;
    margin-top: 14px;
}

.topnav a.split {
    font-family: 'Tilt Warp', cursive;
    font-weight: normal;
    font-size: 50px;
}

.topnav a.split:hover {
    color: white;
}

.topnav span:hover {
    color: gold;
}

/*Slider*/

.slider-wrapper {
    position: relative;
    max-width: 100rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 25%;
    width: 20%;
    height: 700px;
    padding: 1px;
    transition: transform .2s;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider img:hover {
    transform: scale(0.9);
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    background-color: gold;
    opacity: 1;
}

.footer{
    color: gray;
    background: white;
    padding:30px 0;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .logo{
    font-weight: bold;
    font-size: 3em;
}

.footer .row{
    width:100%;
    padding: 10px 0;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color: gray;
    transition:0.5s;
}

.footer .row a:hover{
    color: black;
}

.footer .row ul{
    width: 100%;
}

.footer .row ul li{
    display:inline-block;
    margin: 0 30px;
}

.footer .row a i{
    font-size:2em;
    margin: 0 1%;
}

.login-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-top: 10%;
    padding: 20px;
}

#formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    /*background-color: #f6f6f6;*/
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

#formFooter .login-button {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;

    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

#formFooter .login-button:hover {
    background-position: left;
    color: gold;
}

.button {
    border: none;
    color: black;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    margin: 20px 40px;
    font-weight: bold;

    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.button:hover  {
    background-position: left;
    color: gold;
    font-weight: bold;
}

.button:active  {
    transform: scale(0.95);
}

input[type=text] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
    background-color: #fff;
    /*border-bottom: 2px solid #5fbae9;*/
}

input[type=text]::placeholder {
    color: #cccccc;
}
/**/
@keyframes spin {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(-359deg); } }

@keyframes center-spin {
    from {
        transform: rotate(0deg) translate(-50%, -50%); }
    to {
        transform: rotate(-359deg) translate(-50%, -50%); } }

.alert {
    display: none;
    background: #fff;
    border-radius: 3px;
    color: #777;
    font-weight: 100;
    left: 50%;
    max-width: calc(100% - 30px);
    min-width: 300px;
    padding: 30px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1055; }
.alert-overlay {
    display: none;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050; }
.alert > .icon {
    border-radius: 999px;
    display: block;
    height: 70px;
    margin: 0 auto 15px;
    position: relative;
    transition: .3s;
    width: 70px; }
.alert > .icon:after, .alert > .icon:before {
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s; }
.alert > .head {
    font-size: 1.7em;
    margin-bottom: 15px; }
.alert > .body {
    color: #aaa;
    font-size: 1.1em;
    line-height: 1.4;
    margin-bottom: 30px; }
.alert > .footer {
    margin: 0-"30px"-30px;
    width: auto; }
.alert > .footer > .actions {
    display: table;
    width: 100%; }
.alert > .footer > .actions > a, .alert > .footer > .actions button {
    color: #aaa;
    cursor: pointer;
    display: table-cell;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    width: 1%; }
.alert > .footer > .actions > a:hover, .alert > .footer > .actions button:hover {
    background: rgba(0, 0, 0, 0.05);
    color: #777; }
.alert > .footer > .actions > a:active, .alert > .footer > .actions > a:focus, .alert > .footer > .actions button:active, .alert > .footer > .actions button:focus {
    background: rgba(0, 0, 0, 0.1); }
.alert.loading > .icon {
    animation: spin 1s linear infinite; }
.alert.loading > .icon:after, .alert.loading > .icon:before {
    border-radius: 999px;
    height: 100%;
    width: 100%; }
.alert.loading > .icon:before {
    border: 4px solid rgba(51, 122, 183, 0.3);
    border-top-color: transparent; }
.alert.success > .icon:before {
    border: 4px solid rgba(0, 204, 51, 0.3);
    border-radius: 999px;
    height: 100%;
    width: 100%; }
.alert.success > .icon:after {
    border-bottom: 4px solid rgba(0, 204, 51, 0.3);
    border-left: 4px solid rgba(0, 204, 51, 0.3);
    height: 10px;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 25px; }
.alert.success > .head {
    color: rgba(0, 204, 51, 0.3);
    font-weight: 900; }
.alert.error > .icon {
    border: 4px solid rgba(238, 51, 51, 0.3);
    border-radius: 999px; }
.alert.error > .icon:before, .alert.error > .icon:after {
    background: rgba(238, 51, 51, 0.3);
    border-radius: 3px;
    height: 4px;
    width: calc(100% - 15px); }
.alert.error > .icon:after {
    transform: translate(-50%, -50%) rotate(-45deg); }
.alert.error > .icon:before {
    transform: translate(-50%, -50%) rotate(45deg); }
.alert.error > .head {
    color: rgba(238, 51, 51, 0.3);
    font-weight: 900; }

/*Movie List Card Image*/

.card-image {
    display: block;
    min-height: 20rem; /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
    display: block;
    width: 100%;
    opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
}

/* Layout Styles */

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    display: block;
    height: 150px;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}

/*Movies CSS*/

.bg h2 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.4rem;
}

.bg h3 {
    font-size: 1.73rem;
    font-weight: 600;
    margin: 0 0 6px 0;
}

.bg p {
    font-size: 1.6rem;
    height: 15rem;
}
.bg a {
    color: black;
}

.bg {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 53rem;
}
.content {
    display:flex;
    width: 100rem;
    height:51rem
}
.image {
    width: 30rem;

}
.info {
    color: black;
    width:700rem;
    background-color:white;
    padding: 0.1rem 2rem;
}
.title {
    padding-bottom: 1rem
}
.title a h2 {
    display:inline-block;
    font-size: 3.84rem;
    color:black;
}
.title span {
    opacity: 0.6;
    font-size: 2.72rem;
    font-weight: 400;
}

.about {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Booking Modal*/

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    /*width: 800px;*/
    max-width: 770px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

/*Select Schedule*/
.select-schedule {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: space-between;
}

.method {
    display: flex;
    /*flex-direction: column;*/
    width: 382px;
    height: 100px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
}

.select-schedule .detail {
    display: grid;
    width: 200px;
}

.radio-input {
    margin-top: 20px;
}

input[type='radio'] {
    display: inline-block;
}
.blue-border {
    border: 1px solid rgb(110, 178, 251);
}

/*Seat*/

.container {
    padding: 20px;
    perspective: 500px;

}
#select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fcfcfc;
}
.seat-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    width: 280px;
    margin: 20px auto;
}
.seat-detail {
    display: flex;
    align-items: center;
    justify-items: center;
}
.seat-detail .seat {
    margin-right: 10px;
}

.seat {
    display: inline-block;
    background-color: darkgoldenrod;
    height: 20px;
    width: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
    text-align: center;
}
.seat.occupied {
    background-color: grey;
}
.seat.selected {
    background-color: gold;
}
.seat:not(.occupied):hover {
    transform: scale(1.2);
    cursor: pointer;
}
.seats-container {
    display: block;
    margin: auto auto 20px;
    max-width: 17rem;
    text-align: center;
}

.row .seat {
    margin: 0.3rem;
}

.seat-details .seat:hover {
    transform: scale(1);
    cursor: default;
}

.movie-pricing {
    display: inline;
}
.movie-pricing span {
    color: #90e0ef;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    margin: 0 auto 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    transform: rotateX(-30deg);
}
